html * {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 1280px;
    height: 720px;
    border: 1px solid black;
}

#info {
    position: absolute;
    width: 1280px;
    top: 742px;
    left: 25px;
}

#worldTitle {
    font-weight: bold;
    float: left;
}

#cameraInfo {
    float: right;
}

#keysInfo {
    position: absolute;
    top: 807px;
    left: 600px;
    color: #999;
}

#keysInfo p {
    line-height: 4px;
}

.virtual-keyboard-grid {
    display: grid;
    position: absolute;
    top: 775px;
    left: 25px;
    padding: 5px;
    border: 1px solid #ccc;
    grid-template-columns: repeat(13, 40px);
    grid-template-rows: 32px 42px 32px;
    gap: 3px;
    width: 556px;
    /* 11 * width + 10 * gap */
    height: 112px;
    /* 4 * height + 3 * gap */
    background: transparent;
}

.virtual-key {
    color: #555;
    background: #f8f8f8;
    border: 1px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    cursor: pointer;
    user-select: none;
}

.virtual-key:hover {
    background: #eee;
}

.virtual-key:nth-child(n+11):nth-child(-n+13) {
    margin-top: 10px;
}

/* ESC */
.virtual-key:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

/* 1 */
.virtual-key:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
}

/* 2 */
.virtual-key:nth-child(3) {
    grid-column: 4;
    grid-row: 1;
}

/* 3 */
.virtual-key:nth-child(4) {
    grid-column: 5;
    grid-row: 1;
}

/* 4 */
.virtual-key:nth-child(5) {
    grid-column: 6;
    grid-row: 1;
}

/* 5 */
.virtual-key:nth-child(6) {
    grid-column: 7;
    grid-row: 1;
}

/* 6 */
.virtual-key:nth-child(7) {
    grid-column: 8;
    grid-row: 1;
}

/* 7 */
.virtual-key:nth-child(8) {
    grid-column: 9;
    grid-row: 1;
}

/* 8 */
.virtual-key:nth-child(9) {
    grid-column: 10;
    grid-row: 1;
}

/* 9 */
.virtual-key:nth-child(10) {
    grid-column: 11;
    grid-row: 1;
}

/* w */
.virtual-key:nth-child(11) {
    grid-column: 2;
    grid-row: 2;
}

/* r */
.virtual-key:nth-child(12) {
    grid-column: 4;
    grid-row: 2;
}

/* ↑ */
.virtual-key:nth-child(13) {
    grid-column: 12;
    grid-row: 2;
}

/* a */
.virtual-key:nth-child(14) {
    grid-column: 1;
    grid-row: 3;
}

/* s */
.virtual-key:nth-child(15) {
    grid-column: 2;
    grid-row: 3;
}

/* d */
.virtual-key:nth-child(16) {
    grid-column: 3;
    grid-row: 3;
}

/* f */
.virtual-key:nth-child(17) {
    grid-column: 4;
    grid-row: 3;
}

/* , */
.virtual-key:nth-child(18) {
    grid-column: 8;
    grid-row: 3;
}

/* . */
.virtual-key:nth-child(19) {
    grid-column: 9;
    grid-row: 3;
}

/* ← */
.virtual-key:nth-child(20) {
    grid-column: 11;
    grid-row: 3;
}

/* ↓ */
.virtual-key:nth-child(21) {
    grid-column: 12;
    grid-row: 3;
}

/* → */
.virtual-key:nth-child(22) {
    grid-column: 13;
    grid-row: 3;
}