@font-face {
	font-family: "AG_6775";
	src: url("./AG_6775.V2.woff2") format("woff2");
}

* {
	font-family: AG_6775, Arial, Helvetica, sans-serif;
	letter-spacing: 3%;
}

body {
	background-color: #f2f0eb;
}

.header {
	display: flex;
	align-items: center;
	margin: 15px 0 15px 10px;
	font-size: 50px;
	color: steelblue;
}

.header-hr {
	height: 2px;
}

.header-title {
	font-size: 64px;
	color: steelblue;
	margin-left: 30px;
	text-shadow: 0px 0px 64px #3f75a2;
}

.title {
	font-size: 20px;
	font-weight: bold;
	color: steelblue;
	margin: 15px 0 15px 25px;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(70, 130, 180, 1), rgba(0, 0, 0, 0));
	margin-top: 24px;
	margin-bottom: 16px;
	margin-left: 10px;
}

.link {
	margin: 10px 35px;
}

a {
	font-size: 16px;
	text-decoration: none;
	color: steelblue;
}