html * {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 1280px;
    height: 720px;
    border: 1px solid black;
}

#info {
    position: absolute;
    width: 1280px;
    top: 742px;
    left: 25px;
}

#worldTitle {
    font-weight: bold;
    float: left;
}

#cameraInfo {
    float: right;
}

#virtual-keyboard-container {
    position: absolute;
    top: 775px;
    left: 25px;
    width: 90%;
}